<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>μModūls</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper row grey">
        <div class="col s6">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#">Store</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="#">Forum</a></li>
          </ul>
        </div>
        <div class="col s4">
          <a href="#" class="brand-logo center">μModūls</a>
        </div>
        <div class="col s2">
          <a href="#" id="logo-container" class="brand-logo right"><img id="logo-img" src="{% static 'logo.png' %}"></a>
        </div>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>
