{% extends "blog/header.html" %}

{% block content%}
<div class="container">
  <div class="row">
    <div class="col s12">
        <p class="flow-text center-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan orci sed pulvinar sagittis. Donec id nunc dignissim, vulputate orci et, malesuada justo. Donec ac risus ullamcorper, sollicitudin felis eu, tempor odio. Suspendisse laoreet lacus in dui tincidunt, at fringilla magna egestas. Integer non odio ac nisi interdum rhoncus. In vitae ante iaculis, dictum ligula ut, fringilla orci. Mauris malesuada metus quis lorem aliquam, id molestie ipsum elementum. Mauris convallis tincidunt ligula, et molestie tellus placerat eu.</p>
    </div>
  </div>
</div>
{% endblock %}
