{% extends "blog/header.html" %}

{% block content %}
  {% for post in object_list %}
  <div class="row">
    <div class="card hoverable small col s6 offset-s3">
      <div class="card-image">
        <img src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg">
        <span class="card-title">{{ post.title }} By: {{ post.author }} On: {{ post.date|date:"m-d-Y" }}</span>
      </div>
      <div class="card-content">
        <p>{{ post.body }}</p>
      </div>
      <div class="card-action">
        <a href="/blog/{{post.slug}}">Full Post</a>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
